*{
  border: 1px solid red;
}

body {
  background-color: rgb(36, 36, 36);
  color: #fff;
}

h1 {
  color: rgb(250, 201, 27);
  font-weight: bold;
}

.person p{
  font-weight: bold;
  color: rgb(249, 254, 9);
}

p span {
  font-weight: normal !important;
  color: #fff;
}

#header {
  margin-top: 175px;
}
