body {
  background: url("https://raw.githubusercontent.com/erickkg/StarWarsAPI/master/img/background.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  /*
  height: 100vh;
  overflow: auto;
  */
}

#name {
  background-color: rgba(0, 0, 0, 0);
  color: #D7D98E;
}

.unit {
  background-color: rgb(0, 0, 0);
  color: #D7C078;
}

#title {
  background-color: rgba(0, 0, 0, 0.2);
}

#generatorButton {}

.button-background {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 2.5rem;
}

.floatUp {
  float: left;
}

.border-blue {
  border: 2px solid #15509F;
}

h1 {
  background-color: rgb(0, 0, 0);
  color: rgb(250, 201, 27);
  font-weight: bold;
}

.column-header {
  background-color: rgba(0, 0, 0, 0);
  color: #F0B084;
}

.planet-column p {
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: #D7C078;
}

.person p {
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: #D7C078;
}

.planet-column p:hover,
.person p:hover {
  color: rgba(239, 187, 31);
}

.movieLink {
  border: 1px solid #777;
  font-weight: bold;
  color: rgb(240, 80, 78);
}

.movieLink:hover {
  background-color: rgba(200, 200, 200, 0.5);
  color: #fff;
  display: block;
}

p span {
  font-weight: normal !important;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.header-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  border: 2px solid #B62321;
  padding: 0.8rem;
}

.movie-container {
  text-align: center;
}

.header-button:hover {
  text-decoration: none;
  background-color: #B62321;
  color: #fff;
}

#allColumns {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

#header {
  margin-top: 50px;
}
