* {
  /*
  border: 1px solid red;
  */
}

body {
  background: url("https://raw.githubusercontent.com/erickkg/StarWarsAPI/master/img/background.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}

h1, .card-body {
  font-family: 'PT Serif', serif;
}

h1 {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(250, 201, 27);
  font-weight: bold;
}

p span {
  font-weight: normal !important;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* TODO: UPDATE VARS BELOW ######################################## */



.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 60%;

}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/* TODO: UPDATE VARS ABOVE ######################################## */

#allColumns {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

#header {
  margin-top: 50px;
}

.name {
  background-color: rgba(0, 0, 0, 0);
  color: #D7D98E;
  text-decoration: underline;
}

.text-lg {
  font-size: 2.5rem;
}

.unit {
  background-color: rgb(0, 0, 0);
  color: #D7C078;
}

.button-background {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFC107; /* Bootstrap color */
  margin: 0.25rem;

}

.floatUp {
  float: left;
}

.border-blue {
  border: 2px solid #15509F;
}

.column-header {
  background-color: rgba(0, 0, 0, 0);
  color: #F0B084;
}

.planet-column p, .person p {
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: #D7C078;
}

.planet-column p:hover,
.person p:hover {
  background-color: rgba(0, 0, 0);
  color: rgba(239, 187, 31);
}

.movieLink {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: 2px solid #777;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0); /* Backup for bootstrapfail */
  color: rgb(240, 80, 78);
}

.movieLink:hover {
  background-color: rgba(210, 210, 210, 0.5);
  color: #fff;
  display: block;
}

.movie-container {
  text-align: center;
}

.header-button:hover {
  text-decoration: none;
  background-color: #B62321;
  color: #fff;
}

.btn-generate-new {
  background-color: rgba(0, 0, 0, 0.5);
  color: #D7D98E;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.75rem;
  border: 2px solid #A1A332;
  margin-bottom: 0.5rem;
}

.btn {
    outline: 0;
    box-shadow: 0 0 0 .2rem
    rgba(0,123,255,.5);
    background-color: rgba(0, 0, 0, 0);
    color: #F0B084 !important;
    font-size: 1.5rem;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .3rem
    rgba(0,0,0,0);
}

.card-header {
  padding: 0px !important;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #15509F;
}

.card-body p {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  color: #D7C078;
}

/* ################# MOBILE LANDSCAPE ########################### */
@media screen and (min-width: 566px) and (max-width: 812px) {
  .mobile-landscape-mode{
    display: block !important;
    border-bottom: 2px solid #15509F;
  }

  #header-title {
    display: none !important;
  }


  #header-info {
    margin-top: 5px;
  }


  #header div{
    margin-top: -25px;
  }

  .name {
    font-size: 1.5rem;

  }

  .btn-generate-new {
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid #A1A332;
  }


  .card {
    border: 2px solid rgba(0, 0, 0, 0.5);

  }

  .card-body {
    border-bottom: 1px solid  rgba(0, 0, 0, 0);
  }


  .header-text {
    font-size: 2rem;
    color: white;
  }

  .desktop-mode {
    display: none;
  }

  .border-blue {
    margin-left: 5%;
    margin-right: 5%;
  }

 .card {
   font-size: 1.1rem;
 }
}
/* ################# MOBILE ########################### */
@media screen and (max-width: 565px) {
  .desktop-mode {
    display: none;
  }
  .mobile-mode {
    display: block !important;
    border-bottom: 2px solid #15509F;
    margin-top: 10px;
  }

  .name {
    font-size: 1.4rem;
  }

  .btn-generate-new {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #header div{
    margin-top: -25px;
  }

  .header-text {
    font-size: 2rem;
  }

  .border-blue {
    margin-left: 5%;
    margin-right: 5%;
  }

 .card {
   font-size: 1.1rem;
 }
}
